<h1>Entries</h1>

<% if user_signed_in? %>
  <div>
    <% if policy(Entry).create? %>
      <%= link_to 'New Task', new_entry_path %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class="buffer-top games-table">
          <%= render 'entries', locals: { entries: @entries } %>
        </div>
      </div>
    </div>
  </div>
<% end %>
